app-search {
  position: absolute;
  z-index: 999;
  top: 100px;
  left: 31px;
}

.sidebar {
  min-width: 375px;
  max-width: 395px;
  z-index: 999;
}

app-tools-bar,
app-header {
  z-index: 1;
}

app-map {
  z-index: 0;
}
.n-pointer {
  pointer-events: none;
}
