<div class="base rubik">
  <form class="form" [formGroup]="formularioLocal" (ngSubmit)="enviar()">
    <div class="title">
      <h1>Adicionar Local</h1>
    </div>
    <div class="content">
      <div class="left">
        <div>
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input
              type="text"
              id="nome"
              formControlName="nome"
              autocomplete="nome"
            />
          </div>

          <div class="form-group">
            <label for="categoria">Categoria:</label>
            <input
              type="categoria"
              id="categoria"
              formControlName="categoria"
            />
          </div>
        </div>
        <div>
          <div class="form-group">
            <label for="endereco">Endereço:</label>
            <input type="endereco" id="endereco" formControlName="endereco" />
          </div>
        </div>
      </div>

      <div id="map2">
        <img class="icone" src="assets/marker-icon.png" />
      </div>
    </div>
    <div class="button">
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>
