.map-container {
  height: calc(100vh);
}

.home {
  position: absolute;
  right: 12px;
  bottom: 95px;
  z-index: 999;

  .home-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #424242;
    cursor: pointer;
  }
}

.modal {
  position: absolute;
  min-width: 150px;
  padding: 10px 10px 10px 1.2rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.22);
  z-index: 1000;
  font-size: 0.8rem;
}

.login-modal,
.register-modal {
  background: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  position: fixed;
  left: calc(50% + 30px);
  padding: 24px;
  top: calc(50% + 40px);
  transform: translate(-50%, -50%);
  z-index: 1000;
}
