app-search {
  top: 30px;
  z-index: 2;
  padding: 0 35px;
}

app-details {
  top: 70px;
  z-index: 1;
}

app-list {
  z-index: 1;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 9px;
  z-index: 401;
}

.space {
  width: 100%;
  background-color: white;
  height: 120px;
}
